body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex sans';
  font-style: normal;
}

.container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 2;
  background-image: url(assets/bg.jpg);
  background-size: cover;
  color: #000000;
  text-align: right;
  height: 100vh;
}

.left-inside {
  margin-top: 20vh;
  padding: 4rem;
}

.left-text {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'IBM plex sans';
  margin: 0;
}

.light {
  opacity: 0.6;
}

.left-bottom {
  opacity: 0.4;
  margin: 20px;
}

.right-side {
  flex: 4;
  background-image: url(assets/bbg.jpg);
  color: #dddddd;
  overflow-y: scroll;
}

.right-inside {
 padding: 10rem;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  padding: 20px;
}

.icons {
  height: 1.7rem;
  width: 1.7rem;
  padding: 0.5rem;
}


/* Media query for mobile screens */
@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column; /* Reverse the order for mobile */
  }
  .right-side {
    overflow-y: visible;
  }
}

/* Media query for mobile screens */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column; /* Reverse the order for mobile */
  }
  .right-side {
    overflow-y: visible;
  }
  .left-inside {
    margin-top: 20px;
  }
  .right-inside {
    padding: 4rem;
  }
  .profile-pic {
    height: 100px;
    width: 100px;
  }
}



/* Media query for mobile screens */
@media only screen and (max-height: 800px) {

  .left-inside {
    margin-top: 10px;
  }
}


/* Media query for mobile screens */
@media only screen and (max-width: 1200px) {

  .left-inside {
    margin-top: 10px;
  }
}
